<?xml version='1.0' encoding='utf-8'?>
<widget id="com.pgb.brewapp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="https://phonegap.com/ns/1.0">
	<name>Dairy</name>
	<description>
		Dairy MIS
	</description>

	<author email="chepken@gmail.com" href="https://phonegap.com">
	  Chris Ken
	</author>
<icon src="images/cows.png" />
<gap:plugin name="cordova-plugin-whitelist" source="npm" />

<access origin="*" />
<allow-intent href="*" />
<allow-navigation href="*" />

	<preference name="phonegap-version" value="cli-6.5.0" />
</widget>
